<h1>Admin::Dashboard#show</h1>
<div class="alert alert-info" role="alert">Number of Products: <%= @product_count %></div>
<div class="alert alert-info" role="alert">Number of Categories: <%= @category_count %></div>

<br>
<a class="btn btn-info" href="/admin/products">View Products</a>