<h1>Admin::Dashboard#show</h1>
<div class="d-block p-2 bg-success text-white border border-white border-2">Number of Products: <%= @product_count %></div>
<div class="d-block p-2 bg-success text-white border border-white border-2">Number of Categories: <%= @category_count %></div>
<br>
<div>
  <%= link_to "View Products", admin_products_path %>
</div>
