<header class="page-header">
    <h1>About The Jungle &raquo;</h1>
  </header>
  <div class="about">
      <p class="text-center">
      Welcome to Jungle, your lush oasis in the digital realm!
      <br><br>
      At Jungle, we invite you to embark on a green journey that brings the beauty of the natural world right to your fingertips.
      <br><br>
      With a diverse selection of thriving botanical wonders, our online store offers an exquisite assortment of plants that will transform your living spaces into vibrant, verdant paradises.
      <br><br>
      Whether you're a seasoned plant enthusiast or just beginning to explore the joys of plant parenthood, Jungle is your one-stop destination for everything leafy and lovely.
      <br><br>
      Browse through our virtual garden and discover the perfect green companions to breathe life and serenity into your home. Get ready to let nature's beauty flourish in your space as you explore Jungle, where every click blooms with possibilities!
      </p>
    </div>

<br>
<div>
<%= link_to "Homepage", root_path, class: 'btn btn-info' %>
</div>